h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: red underline wavy;
    letter-spacing: 15px;
    font-size: 75px;
    font-family: Didot, Arial;
}

p {
    text-align: center;
    line-height: 2;
}