body {
    background-color: #6b705c;
    font-family: 'Estonia', cursive;
    font-size: 25px;
}
main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h1 + h2 {
    margin-top: 10px;
}

h1,h2,h3 {
    font-weight: 100;
    font-family: 'Comforter Brush', cursive;
}